[project]
	description = Playground for Qt-related classes and projects
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Daniel Molkentin (danimo)
[access "refs/for/refs/*"]
	read = group user/Daniel Molkentin (danimo)
	push = group user/Daniel Molkentin (danimo)
	label-Code-Review = -2..+2 group user/Daniel Molkentin (danimo)
	label-Verified = -1..+1 group user/Daniel Molkentin (danimo)
	rebase = group user/Daniel Molkentin (danimo)
	removeReviewer = group user/Daniel Molkentin (danimo)
	submit = group user/Daniel Molkentin (danimo)
[access "refs/heads/*"]
	read = group user/Daniel Molkentin (danimo)
	create = group user/Daniel Molkentin (danimo)
	push = +force group user/Daniel Molkentin (danimo)
	pushMerge = group user/Daniel Molkentin (danimo)
[access "refs/tags/*"]
	push = +force group user/Daniel Molkentin (danimo)
	pushTag = group user/Daniel Molkentin (danimo)
	pushSignedTag = group user/Daniel Molkentin (danimo)
